* {
    margin: 0px;
    padding: 0px;
}
html, body {
    height: 100%;
    overflow: hidden;
}
body {
    background-color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-weight: 400;
    color: rgb(39, 39, 39);
}

.header-compact {
    height: 100vh;
}

h1 {
    font-weight: 400;
    font-size: 2em;
    
}

h2.slogan { 
    font-weight: 300;
    font-size: 1.15em;
}

/* .wrapper {
    
} */

.aside-nav {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgb(255, 255, 255);
    z-index: 1;
}

main {
    width: 100%;
    position: absolute;
    background: rgb(255, 255, 255);
    z-index: 2;
} 

.aside-visuals {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgb(255, 255, 255);
    z-index: 3;
    transform: translateX(100vh);
}

ul {
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

ul li {
    list-style: none;
}

ul li:hover {
    background-color: rgb(242, 242, 242);
}

.nav {
    border-bottom: 1px solid rgb(242, 242, 242);
}

.nav-bottom {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 1000;
    background: rgb(255, 255, 255);
}

.nav-item {
    font-size: 1.5em;
}

.nav-item.active {
    background-color: rgb(242, 242, 242);
}


.pill-item {
    background-color: rgb(242, 242, 242);
    border-radius: 50px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    margin-right: 8px;
    font-size: .9em;
}

.pill-item:hover {
    cursor: pointer;
}

.pill-item.active {
    background-color: black;
    color: rgb(242, 242, 242);
}

/* display */

.block {
    display: block;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-gap-10 {
    gap: 10px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.align-items-center {
    align-items: center;
}


/* margins */
.mr-15 {
    margin-right: 15px;
}

.ml-15 {
    margin-left: 15px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-15 {
    margin-top: 15px;
}

.ml-5 {
    margin-left: 5px;
}

/* paddings */

.pl-15 {
    padding-left: 15px;
}

.pr-15 {
    padding-right: 15px;
}

.pt-15 {
    padding-top: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}


.data-item-wrapper {
    display: inline-block;
}

.eyebrow {
    display: block;
    font-size: small;
    font-weight: 400; 
}

.time-value { 
    display: inline-block;
    width: 65px;
}

.text-uppercase {
    text-transform: uppercase;
}

.summary-data-value {
    font-size: 1.5em;
}

.summary-item {
    min-width: 150px;
}

.filter-bar-dropdown {
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
}

.filter-bar-dropdown-label {
    width: 120px;
    position: relative;
    z-index: 2;
}

.filter-bar-dropdown-label .filter-bar-dropdown-value {
    width: 100px;
    border: none;
    pointer-events: none;
    font-size: 1.5em;
    text-transform: capitalize;
}

.filter-bar-dropdown-content {
    position: absolute;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 4px, rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 5px;
    width: 120px;
    cursor: default;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
}

.filter-list-item-option {
    font-size: 1em;
    padding-left: 15px;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.chevron {
    display: inline-block;
    position: relative;
    width: 0;
    height: 0;
    top: -12px;
    transform: rotate(90deg);
}

.chevron span {
    display: block;
    position: absolute;
    width: 10px; /* Adjust for desired thickness */
    height: 1px; /* Adjust for desired thickness */
    background-color: rgb(41, 41, 41);
    transition: transform .3s ease;
}
  
.chevron span:nth-child(1) {
    top: -2px; /* Adjust for spacing */
    left: 0;
    transform: rotate(45deg);
}
  
.chevron span:nth-child(2) {
    bottom: -6px; /* Adjust for spacing */
    left: 0;
    transform: rotate(-45deg);
}

.filter-bar-dropdown.active .chevron span:nth-child(1) {
    transform: rotate(130deg);
}

.filter-bar-dropdown.active .chevron span:nth-child(2) {
    transform: rotate(-130deg);
}

.filter-bar-dropdown.active .filter-bar-dropdown-content {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    z-index: 10;
}

.data-tab {
    display: none;
}

.data-tab.active {
    display: block;
}

.form-without-formatting {
    padding: 0px;
    margin: 0px;
}

.invisibleInput {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.btn {
    display: block;
    color: white;
    background-color: black;
    padding: 8px 16px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    font-size: .9em;
    height: 30px;
}

.btn:hover {
    background-color: rgb(242, 242, 242);
    color: black;
}

.btn:focus {
    outline: -webkit-focus-ring-color auto 1px;
    outline: 1px solid rgb(141, 141, 248);
}

.btn-input-file {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.btn-close {
    height: 35px;
    width: 35px;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-close-container {
    height: 15px;
    width: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-close-bar {
    position: absolute;
    height: 3px;
    width: 15px;
    background-color: white;
    border-radius: 5px;
}

.btn-close-bar:nth-child(1) {
    transform: rotate(45deg);
}

.btn-close-bar:nth-child(2) {
    transform: rotate(-45deg);
}

.btn-close:hover .btn-close-bar {
    background-color: black;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 253, 253, 0.527); /* Semi-transparent black */
    -webkit-backdrop-filter: rgba(255, 253, 253, 0.527);
    backdrop-filter: blur(10px); /* Blurry effect */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
}

.overlay-card {
    background: rgb(231, 251, 250);
    border-radius: 25px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* .overlay-content {
    
} */

.video-container {
    width: 100%;
    max-width: 1080px;
    aspect-ratio: 16 / 9;
    margin: 15px auto 0;
    overflow: hidden;
    border-radius: 25px;
}

.video-container video {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    background-color: black;
}

.scrollable-list {
    overflow-y: auto;
    max-height: 65vh;
}

.scrollable-list::-webkit-scrollbar {
    width: 8px;
}

.scrollbar-list::-webkit-track {
    background: transparent;
}

.scrollable-list::-webkit-thumb {
    background-color: rgba(0,0,0, 0.5);
    border-radius: 4px;
}

.scrollable-list {
    scrollbar-width: thin; /* options: auto, thin, none */
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent; /* thumb color then track color */
}

.desktop-dropdown {
    display: none;
}

@media screen and (min-width: 1024px) { 

    h1 {
        font-size: 3.3em;
    }

    .btn {
        font-size: 16px;
        height: 40px;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        border-top: 1px solid rgb(242, 242, 242);
    }


    .aside-nav {
        width: 15%;
        max-width: 300px;
        border-right: 1px solid rgb(242, 242, 242);
    }
    
    .aside-visuals {
        width: 35%;
        border-left: 1px solid rgb(242, 242, 242);
    }
    
    main {
        width: 50%;
    }

    .desktop-dropdown {
        display: block;
    }

    .mobile-dropdown {
        display: none;
    }

    .eyebrow {
        font-size: small;
        font-weight: 300; 
    }
    .summary-data-value {
        font-size: 2em;
    }

    .pill-item {
        font-size: 1em;
    }
}